<html>
  <head>
    <title>Argon Components</title>
    <meta name="description" content="Argon Components">
    <script src="../resources/js/aframe.min.js"></script>
    <script src="../resources/js/argon.min.js"></script>
    <script src="../build.js"></script>
    <script>
      AFRAME.registerComponent('spin', {
        schema: {
          speed: {type: 'int', default: 5}
        },

        tick: function() {
          var object3D = this.el.object3D;
          object3D.rotateX(0.003);
          object3D.rotateY(0.004);
          object3D.rotateZ(0.005);
        }
      });
    </script>
  </head>
  <body>
    <ar-scene>

      <a-assets>
        <a-asset-item id="ring" src="ring.obj"></a-asset-item>
        <img id="texture" src="texture.png">
      </a-assets>

      <a-entity     obj-model="obj: #ring;" spin position="0 0 -5"   color="#FFAAAA">
        <a-entity   obj-model="obj: #ring;" spin scale="0.8 0.8 0.8" color="#AAFFAA">
          <a-entity obj-model="obj: #ring;" spin scale="0.7 0.7 0.7" color="#AAAAFF">
          </a-entity>
        </a-entity>
      </a-entity>

    </ar-scene>
  </body>
</html>