.boxface {
    opacity: 1;
    width: 150px;
    height: 30px;
    font-size: 25px;
    text-align: center;
    color: white;
    background: rgba(32,44,116,0.5);
    outline: 5px solid rgba(32,44,116,1.0);
    border: 5px;
    margin-bottom: 0px;
    padding: 5px 5px;
}